<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="BJB" value="http://10.6.226.210:5000/v3/index.json" />
  </packageSources>
  <config>
    <add key="http_proxy" value="http://10.12.14.2:80" />
    <add key="https_proxy" value="https://10.12.14.2:80" />
  </config>
</configuration>